.center {
	margin: auto;
	width: 30em;
	border: 3px solid #333;
	padding: 10px;
}

ul#navbar {
	height: 20px;
}

ul#navbar li {
	float: left;
	width: 10em;
}

ul#navbar a {
	padding-left: 50px;
	padding-right: 50px;
}

ul#navbar a:link {
	color: blue;
}

ul#navbar a:visited {
	color: darkblue;
}

ul#navbar a:hover {
	color: lightblue;
}

ul#navbar a:active {
	color: red;
}